@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fff8f8;
  margin: 0;
  position: relative;
  padding: 0;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #fff8f8;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80%;
  padding: 5px;
  background-color: #424242;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 5px 5px;
  list-style: none;
  background-color: #424242;
  font-size: 1.7rem;
  margin: 0;
  font-style: bold;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: #fff8f8;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 3px;
  color: #fff8f8;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #424242;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #fff8f8;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #424242;
  align-items: center;
  padding: 10px;
}

.filter-options h2 {
  color: #fff8f8;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: #fff8f8;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #fff8f8;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  display: flex;
  flex-direction: column;
  background-color: #fff8f8;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0;
  text-align: center;
  width: 370px;
  max-width: 85%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  padding: 0;
  min-height: auto;
  min-width: 300px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  padding: 0 20px;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #424242;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: auto;
  margin: auto;
  min-width: 320px;
}

.inside header {
  width: 100%;
}

.inside #map-container {
  background: #424242 none repeat scroll 0 0;
  height: 280px;
  position: relative;
  margin: auto;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: auto;
  border: 1px solid black;
  margin: auto;
}

.inside #footer {
  width: 100%;
}

.inside #footer strong {
  color: yellow;
}

#restaurant-name {
  color: #424242;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  margin: auto;
  width: 100%;
  align-self: center;
  border: 1px solid black;
}

#restaurant-address {
  font-size: 1.2em;
  margin: 10px 0px;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 35px;
  width: 100%;
  margin: 10px;
  position: relative;
}

#restaurant-cuisine,
#reviews-container h2 {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-container {
  padding: 10px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 1px solid #000000;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 10px;
  padding: 10px;
}

#restaurant-hours td {
  color: #666;
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 2px 2px;
}

#restaurant-hours td:nth-of-type(2) {
  font-style: italic;
  width: auto;
}

#restaurant-hours {
  border: 2px solid #666;
}

/* --------- Media Queries -------- */

@media (min-width: 458px) {
  .filter-options {
    text-align: left;
  }

  #restaurant-container {
    flex-flow: column;
  }
}

@media (min-width: 630px) and (max-width: 930px) {
  #restaurant-container {
    flex-flow: column;
  }

  #restaurants-list li {
    max-width: 40%;
  }

  #restaurants-list li h1 {
    height: 30px;
  }

  #restaurant-hours {
    border: 2px solid #666;
    width: 95%;
  }

  .inside #map-container {
    top: 30px;
  }
}

@media (min-width: 930px) {
  #restaurants-list li {
    max-width: 30%;
  }

  #restaurants-list p {
    width: 70%;
  }

  #restaurants-list li h1 {
    height: 35px;
  }

  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .inside #map-container {
    height: 70%;
    position: fixed;
    right: 30px;
    top: 130px;
    width: 45%;
  }

  #restaurant-img {
    width: 95%;
  }

  #restaurant-container {
    width: 45%;
    padding: 150px 50px 30px;
  }

  #reviews-container {
    width: 45%;
    padding: 40px 40px;
  }

  #restaurant-cuisine {
    width: 95%;
  }

  #reviews-list li {
    width: 93%;
  }

  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  #restaurant-hours {
    border: 2px solid #666;
    width: 95%;
  }
}
